@model IEnumerable<ProjectWebAirlineMVC.Data.Entities.Aircraft>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Aircrafts</h1>

<p>
    <a asp-action="Create" class="btn btn-warning"><i class="fa-solid fa-plus"></i> Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-center aircraft-card">
                @if (!string.IsNullOrEmpty(item.ImageFullPath))
                {
                    <img src="@Url.Content(item.ImageFullPath)" class="card-img-top" alt="Image" style="max-height: 180px; object-fit: contain;" />
                }
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h5>
                    <p class="card-text">
                        Capacity: @Html.DisplayFor(modelItem => item.Capacity)
                    </p>
                    <div class="d-grid gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pencil"></i> Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa-solid fa-info"></i> Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>




<style>
    .aircraft-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .aircraft-card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
</style>
